<h2>注文情報確認</h2>
  <table class="table table-bordered">
　  <thead>
      <tr class="table-secondary">
        <tb>商品名</tb>
        <tb>単価（税込）</tb>
        <tb>数量</tb>
        <tb>小計</tb>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>